*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.login_page{
    height: 100vh;
    background-color: white;
}
.login_container{
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.content_part, .form_part{
    width: 50%;
}
.content_part h1{
        position: relative;
        font-size: 50px;
        color:blue;
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 18px;
        padding-right: 20px;
}
.content_part h2{
    line-height: 40px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding-left: 18px;
    padding-right: 20px;
}
.content_part img{
    height: 160px;
}
.form_part{
    padding: 50px;
    position: relative;
}
.form_box{
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px black, 0 8px 16px black;
    width: 396px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
.input_box input{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dddfe2;
    padding: 15px 20px;
    border-radius: 6px;
    outline: none;
    font-size: 17px;
}
.Login_btn{
    width: 100%;
    background: #1877e2;
    border-style: none;
    margin-top: 30px;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    border-radius: 6px;
    cursor: pointer;
}
.forgot_pw{
    display: block;
    margin-top: 25px;
    text-align: center;
    color: #1877ef;
    font-size: 14px;
    text-decoration: none;
}
.forgot_pw:hover{
    text-decoration: underline;
}
.devider{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    border: 1px solid #dddfe2;
}
.signup_btn{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    padding: 12px 10px;
    font-size: 18px;
    border-style: none;
    background: green;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    letter-spacing: 0.5px;
}